.yctab0{
    width: 1200px;
    height: 82px;
    /* background-color: darkcyan; */
    margin: 52px auto auto auto;
    text-align: center;
    position: relative;
    font-family: poppin,Tahoma,Arial,微软雅黑,sans-serif;
    line-height: 1.5;
}
.yctab1{
    font-size: 14px;
    color: #333;
    cursor: pointer;
    float: left;
    padding: 0 8px;
    margin: 0 24px 15px 0;
}
.yctab1:hover{
    background-color: #31c27c;
    color:white;
}
.yctab00{
    position: relative;
    height: auto;
    clear: both;
    overflow: hidden;
    font-weight: 400;
    line-height: 26px;
    padding-left: 65px;
}
.ycmod{
    overflow: hidden;
    margin-bottom:20px;
    /* 自己加的 */
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.yclist{
    position: relative;
    font-size: 0;
    width: 1250%;
    transition: .5s;
}
.ycicon1{
    background-image: url(ycpics/icons.png);
    background-repeat: no-repeat;
    margin-left: 6px;
    background-position: -120px -40px;
    display: inline-block;
}
#ycMV a{
    text-decoration: none;
}
#ycMV a:visited{
    color:unset;
}
#ycMV a:hover{
    color:#31c27c;
}
a:hover .ycicon1{
    background-position: -120px -60px;
}

.ycmod a:hover{
    color:#31c27c;
}
.ycmodall{
    left:0%;
    position: relative;
    font-size: 0;
    width: 100%;
    transition: .5s;
}
.ycsw1{
    position: absolute;
    top: -50px;
    right: 108px;
    height: 40px;
    line-height: 40px;
    border-radius: 2px;
    font-size: 0;
}
.ycsw1>a{
    background-color: white;
    color: black;
    border-color: gray;
    z-index: 2;
    display: inline-block;
    padding: 0 16px;
    height: 38px;
    position: relative;
    font-size: 14px;
}
.ycsw1:hover>a{
    background-color: #31c27c;
    color: #fff;
    border-color: #31c27c;
    z-index: 2;
}
.ycmvul{
    display: inline-block;
    width: 96%;
    margin-right: 0;
    padding:0px;
    font-size: 14px;
    margin-right: -20px;
    /* ↓调试 */
    margin-left: 20px;
    transition: all linear 0.2s;
}
.ycul2{
    height: 0px;
    opacity: 0;
}
.ycsw2:hover~.ycul1{
    height: 0;
    overflow: hidden;
}
.ycsw2:hover~.ycul2{
    height: 1026px;
    opacity: 1;
}
.ycmvli{
    width: 25%;
    padding-bottom: 25px;
    float: left;
    overflow: hidden;
}
.ycmvbox{
    position: relative;
    margin-right: 20px;
}
.ycmvbox:hover>a>.ycmvmask{
    opacity: 0.2;
}
.ycmvbox:hover>a>.ycmvpic{
    transform: scale(1.1,1.1);
}
.ycmvbox:hover>a>.ycmvicon{
    transform: scale(1) translateZ(0);
    transition-property: opacity,transform;
    transition-duration: .5s;
    cursor: pointer;
    opacity: 1;
}
.ycmva{
    position: relative;
    display: block;
    overflow: hidden;
    padding-top: 56.5476%;
    margin-bottom: 15px;
}
.ycmvpic{
    transform: scale(1);
    transition: transform .75s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scale:var(1);
    transform:.75s;
    border: 0;
    }
.ycmvmask{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity .5s;
}
.ycmvicon{
    background-image: url(ycpics/icon1.png);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(.7) translateZ(0);
    -webkit-transition-property: opacity,-webkit-transform;
    -webkit-transition-duration: .5s;
    transform: scale(.7) translateZ(0);
    transition-property: opacity,transform;
    transition-duration: .5s;
}
.ycmvicon::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    /* background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.4) 80%,rgba(0,0,0,.7)); */
}
.ycmvtitle{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
    font-family: poppin,Tahoma,Arial,微软雅黑,sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    }
.ycmvsinger{
    color: #999;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
}
.ycmvauthor{
    color: #999;
}
.ycmvinfo{
    color: #999;
    line-height: 18px;
    height: 20px;
}
.ycmvlisten{
    margin-right: 10px;
}
.ycmvlistenicon{
    display: inline-block;
    width: 19px;
    height: 12px;
    background-position: -180px -20px;
    margin-right: 5px;
    vertical-align: -1px;
}
.ycsideswitch{
    width: 100%;
    text-align: center;
    font-size: 0;
    color: #000;
    line-height: 1.5;
    font-family: poppin,Tahoma,Arial,微软雅黑,sans-serif;
    }
.ycswicon{
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgba(0,0,0,.1);
    border-radius: 12px;
    margin: 0 auto;
    color: #000;
    cursor: pointer;
    }
.ycswicon:hover{
    background-color: rgba(0,0,0,.3);
}
.ycsideswitch>div{
    display: inline-block;
    width: 28px;
    height: 12px;
    padding: 0 0 26px;
    margin: 0 1px;
    background: transparent;
    }
.ycLRB{
    width: 100%;
    height: 622px;
    /* background-color: rgba(143, 188, 143, 0.493); */
    position: absolute;
    overflow: hidden;
}
.ycLRB:hover>.ycLB,.ycLRB:hover>.ycRB{
    opacity: 1;
    transform: translateX(0);
    transition-property: opacity,transform,background,width;
    transition-duration: .5s;
    }
.ycLRB:hover>.ycLB{
    transition-property: opacity,transform,background,left;
    transition-duration: .5s;
    left:0;
    }
.ycLRB:hover>.ycRB{
    transition-property: opacity,transform,background,right;
    transition-duration: .5s;
    right:0;
    }
.ycLB:hover,.ycRB:hover{
    background: rgba(0,0,0,.1);
    }
.ycLB,.ycRB{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -54px;
    width: 79px;
    height: 108px;
    background: rgba(0,0,0,.05);
    opacity: 0;
    visibility: none;
    transition-duration: .5s;
    z-index: 4;
    }
.ycLB{
    left: -79px;
}
.ycRB{
    right: -79px;
}

/* MV部分和付费音乐包部分的分界 */

.y2wrap{
    padding-top: 80px;
    color: #8B8B8B;
    /* background-color: rgba(135, 207, 235, 0.603); */
    font-size: 12px;
    line-height: 1.5;
    font-family: fzltkh,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
.y2wrap a{
    color: #fff;
}
.y2wrap a:hover{
    color: #fff;
}
.y2menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    color: #fff;
    z-index: 9999;
}
.y2menuback{
    filter: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #090909;
    opacity: .85;
}
.y2menuT{
    position: relative;
    margin: 0 auto;
    width: 1000px;
    color: #fff;
}
.y2menuLG{
    float: left;
    margin-right: 70px;
    font-size: 24px;
}
.y2iconpay{
    display: inline-block;
    width: 42px;
    height: 34px;
    background-image: url(ycpics/y2icon1.png);
    background-position: -142px -403px;
    vertical-align: -8px;
    margin-right: 2.9px;
}
.y2Mlist{
    display: inline-block;
    margin: 0;
    padding: 0;
}
ul.y2Mlist>li{
    display: inline-block;
    margin: 0 10px 0 20px;
    font-size: 16px;
}
.y2Mbuttom{
    position: absolute;
    right: 0;
    top: 0;
}
.y2login{
    position: absolute;
    right: 0;
    top: 0;
}
.y2login a:hover{
    color: #fff;
    opacity: .88;
}
.y2denglu>a{
    display: inline-block;
    margin-left: 15px;
    color: #fff;
    background: 0 0;
    border: 1px solid #31c27c;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 6px;
}
.y2lgkt{
    float: right;
    margin: 20px 0 0 15px;
    display: block;
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    background: #31c27c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
}
.y2main{
    display: block;
}
.y2main1{
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 32.1875%;
}
.y2main110{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.y2main111 img{
    width: 100%;
}
.y2main2{
    margin: 80px auto 70px;
}
.y2main210{
    margin-bottom: 60px;
}
.y2main211{
    font-size: 48px;
    font-weight: 400;
    color: #000;
    text-align: center;
    line-height: 100%;
}
.y2main211::before,.y2main211::after{
    content: '';
    display: inline-block;
    width: 75px;
    height: 1px;
    vertical-align: middle;
    background: #bdbdbd;
}
.y2main211>span{
    position: relative;
    display: inline-block;
    margin: 0 34px;
}
.y2main220{
    margin: -30px auto 80px;
    font-size: 18px;
    color: #000;
    text-align: center;
}
.y2main230{
    margin: 60px auto 0;
    width: 814px;
}
.y2main230>ul{
    overflow: hidden;
    font-size: 0;
    display: flex;
    align-content: space-around;
}
.y2main230>ul>li{
    float: left;
    width: 50%;
    text-align: center;
}
.y2main230>ul>li>i{
    width: 192px;
    height: 157px;
    background-image:url(ycpics/y2icon1.png) ;
    background-position:-207px 0;
    display: block;
    margin: 0 auto 35px;
    background-repeat: no-repeat;
}
.y2main231{
    font-size: 28px;
    color: #000;
}
.y2main232{
    margin: 12px 0 35px;
    font-size: 21px;
    color: #777;
}
.y2main233{
    display: block;
    margin: 0 auto;
    width: 273px;
    height: 62px;
    line-height: 62px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: #31c27c;
    border-radius: 4px;
}
.y2main233:hover{
    opacity: .88;
}
.y2main3{
    padding: 80px 0;
    margin-bottom: 0;
    background: #f8f8f8;
    margin: 80px auto 70px;
}
.y2main310{
    margin-bottom: 60px;
}
.y2main320{
    margin: 60px auto 0;
    width: 1200px;
}
.y2main320>ul{
    overflow: hidden;
    font-size: 0;
    display: flex;
    align-content: space-around;
}
.y2main320>ul>li{
    position: relative;
    float: left;
    width: 240px;
    height: 240px;
    background-repeat: no-repeat;
}
.y2main320>ul>li>a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #515151;
    text-decoration: none;
    outline: 0;
}
.y2main320>ul>li>a::before{
    background: #289d79;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.y2main320>ul>li>a:hover::before{
    /* ↓↑这个语法不错，蒙板特效↑↓ */
    opacity: .6;
    transition: all .5s ease-out;
}
.y2main320 i{
    width: 89px;
    height: 80px;
    background-image: url(ycpics/y2icon1.png);
    background-position: -142px -311px;
    position: relative;
    display: block;
    margin: 68px auto 0;
    background-repeat: no-repeat;
}
.y2main320 p{
    position: absolute;
    left: 0;
    top: 171px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
.y2main4{
    margin-bottom: 80px;
    margin: 80px auto 70px;
}
.y2main410{
    margin-bottom: 60px;
}
.y2main420{
    margin: -30px auto;
    width: 1200px;
    text-align: right;
}
.y2main430{
    margin: 60px auto 0;
    width: 1200px;
}
.y2main430>ul{
    overflow: hidden;
    font-size: 0;
}
.y2main430>ul>li{
    float: left;
    width: 300px;
}
.y2main430>ul>li>a>img{
    display: block;
    width: 300px;
    height: 300px;
}
.y2main430>ul>li>div{
    height: 185px;
    overflow: hidden;
    text-align: center;
}
.y2main431{
    margin: 62px 26px 0;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.y2main432{
    font-size: 14px;
    color: #fff;
}

/* 付费音乐包部分和产品介绍部分的分界 */

.y3menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 3;
}
.y3menu a:hover{
    color:white;
}
.y3Mcontent{
    position: relative;
    margin: 17px auto;
    width: 996px;
    height: 46px;
}
.y3Mtitle{
    float: left;
    margin-right: 80px;
}
.y3Mtitle>a{
    display: block;
    width: 159px;
    height: 46px;
    background: url(ycpics/Y3Logo.png) 0 0 no-repeat;
    text-indent: -99em;
    overflow: hidden;
}
.y3Mnav{
    float:left;
}
.y3Mnav *{
/* ↑全局选择器前面不能加子代选择器（大于号>），
只能加后代选择器（空格） */
    float: left;
    font-size: 20px;
    color: #fff;
    margin-right: 80px;
    line-height: 40px;
}
.y3Mcontent>a{
    display: block;
    float: right;
    margin-left: 27px;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.hide{
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -99em;
    display: block;
}
.y3section{
    height: 650px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.y3S1A{
    display: block;
    background: url(ycpics/y3back1.jpg) 50% no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.y3S1A1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -294px;
    margin-top: -195px;
    width: 587px;
    height: 145px;
    text-indent: -99em;
    overflow: hidden;
    background-image: url(ycpics/y3Slogan.png);
    background-position: 0 -312px;
    z-index: 3;
}
.y3S1A2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
/* 这里改用了绝对居中 */
    margin-top: 12px;
    margin-left: -2px;
    width: 293px;
    height: 69px;
    text-indent: -99em;
    overflow: hidden;
    z-index: 9;
    background-image: url(ycpics/y3Slogan.png);
    background-position: -416px -859px;
}
.y3S1B{
    z-index: 3;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 190px;
    text-align: center;
    padding-left: 110px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content:center;
    /* 这里改用了弹性盒子 */
}
.y3S1B1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    opacity: .12;
    filter: alpha(opacity=12);
    overflow: hidden;
}
.y3S1B2{
    text-decoration: none;
    opacity: 1;
    background-image: url(ycpics/y3Slogan.png);
    background-position: -366px -940px;
    display: inline-block;
    line-height: 999px;
    overflow: hidden;
    width: 110px;
    height: 170px;
    margin-right: 185px;
    position: relative;
    opacity: .4;
    vertical-align: top;
}
.y3S1B2:hover{
    opacity: 1;
}
.y3S1B2 div{
    position: absolute;
    left: 50%;
    transform: -50%;
}
.y3S1C{
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -18px;
    width: 36px;
    height: 20px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: -1091px -161px;
    z-index: 9;
    animation: y3icon1 1.5s infinite both;
}
@keyframes y3icon1 {
    from{
        transform: translateY(-20px);
        opacity: 0.1!important;
    }
    to{
        transform: translateY(0px);
        opacity: 1!important;
    }
    /* 问题：无法修改动画里的透明度 */
}
.y3S2{
    height: 900px;
    position: relative;
}
.y3S2A{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -534px -960px;
    width: 1920px;
    height: 1069px;
}
.y3S2A1{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -283px;
    margin-top: -100px;
    width: 566px;
    height: 74px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: -556px -630px;
    z-index: 2;
}
.y3S2A2{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -202px;
    width: 404px;
    height: 69px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: 0 -859px;
    z-index: 2;
}
.y3singer{
    width: 318px;
    height: 318px;
    position: relative;
    float: left;
    opacity: 0.3;
}
.y3singerP{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 318px;
    background-image: url(ycpics/y3singers.jpg);
    background-size: 100%;
    /* opacity: 0.3; */
}
.y3singerP2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 318px;
    background-size: 100%;
    background-image: url(ycpics/y3singers2.jpg);
    /* opacity: 0.3; */
}
@keyframes y3s {
    0%{
        transform: scale(1);
        opacity: 0.3;
    }
    20%{
        transform:scale(1.2);
        opacity: 0.3;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
.y3S2:hover .y3singer{
    animation-name: y3s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.y3S3{
    background: url(ycpics/y3back3.webp) 50% no-repeat;
    background-size: cover;
    height: 900px;
    z-index: 2;
}
.y3S3A{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -504px;
    margin-top: -130px;
    width: 554px;
    height: 149px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: 0 -469px;
    z-index: 2;
}
.y3S3B{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -504px;
    margin-top: 50px;
    width: 468px;
    height: 69px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: -636px -493px;
    z-index: 2;
}
.y3S3phone{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 50px;
    margin-top: -430px;
    width: 580px;
    height: 892px;
    opacity: 0.1;
}
.y3S3lyric{
    position: absolute;
    top: 138px;
    left: 99px;
    width: 350px;
    height: 604px;
    background: url(ycpics/y3lyric.webp);
    transform: rotate(7.5deg);
}
.y3S3lyric2{
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 604px;
    background: url(ycpics/y3lyric2.webp);
    opacity:0.1;
}
.y3S3pbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 892px;
    background-image: url(ycpics/y3phonebox.webp);
}
@keyframes y3S3phone {
    from{opacity: 0.1;left: 55%;}
    to{opacity: 1;left: 50%;}
}
@keyframes y3S3lyric{
    from{opacity: 0;}
    to{opacity: 1;}
}
.y3S3:hover .y3S3phone{
    animation: y3S3phone 2s ease;
    animation-fill-mode: forwards;
}
.y3S3:hover .y3S3lyric2{
    animation: y3S3lyric 3s ease 2s;
    animation-fill-mode: forwards;
}
.y3S4{
    background: url(ycpics/y3back4.webp) 50% no-repeat;
    background-size: cover;
    height: 900px;
    z-index: 2;
}
.y3S4A{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -113px;
    width: 615px;
    height: 143px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: 0 -157px;
    z-index: 2;
}
.y3S4B{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: 68px;
    width: 550px;
    height: 69px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: 0 -778px;
    z-index: 2;
}
.y3S4phone{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -556px;
    margin-top: -349px;
    width: 520px;
    height: 807px;
    opacity: 0.1;
}
.y3S4screen{
    position: absolute;
    top: 176px;
    left: 61px;
    width: 374px;
    height: 500px;
    background: url(ycpics/y3screen.webp) no-repeat;
    transform: rotate(-5.5deg);
}
.y3S4pbox{
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    height: 778px;
    background: url(ycpics/y3phonebox2.webp) no-repeat;
}
@keyframes y3S4phone {
    from{opacity: 0.1;left: 45%;}
    to{opacity: 1;left: 50%;}
}
@keyframes y3S4screen {
    from{background-position-y: 0;}
    to{background-position-y: -148px;}
}
.y3S4:hover .y3S4phone{
    animation: y3S4phone 2s ease;
    animation-fill-mode: forwards;
}
.y3S4:hover .y3S4screen{
    animation: y3S4screen 3s ease 2s;
    animation-fill-mode: forwards;
}
.y3S5{
    height: 1186px;
    display: table;
    table-layout: fixed;
    width: 100%;
    background: url(ycpics/y3back5.webp) 50% no-repeat;
    background-size: cover;
}
.y3S5A{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -580px;
    margin-top: -270px;
    width: 544px;
    height: 136px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: 0 -630px;
    z-index: 2;
}
.y3S5B{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -580px;
    margin-top: -108px;
    width: 454px;
    height: 63px;
    background-image: url(ycpics/y3Slogan.png);
    background-position: -562px -778px;
    z-index: 2;
}
.y3mac{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -392px;
    width: 620px;
    height: 784px;
    background: url(ycpics/y3mac1.webp) 0 0 no-repeat;
    z-index: 2;
    opacity: 0.1;
}
.y3mac2{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 620px;
    height: 376px;
    background: url(ycpics/y3mac2.webp) 0 0 no-repeat;
}
.y3S5phone{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: 0;
    width: 255px;
    height: 329px;
    background-image: url(ycpics/y3phonebox3.webp);
    opacity: 0.1;
}
@keyframes y3mac {
    from{opacity: 0.1;left: 55%;}
    to{opacity: 1;left: 50%;}
}
@keyframes y3S5phone {
    from{opacity: 0.1;left: 48%;}
    to{opacity: 1;left: 50%;}
}
.y3S5:hover .y3mac{
    animation: y3mac 2s ease;
    animation-fill-mode: forwards;
}
.y3S5:hover .y3S5phone{
    animation: y3S5phone 2s ease 0.5s;
    animation-fill-mode: forwards;
}
.y3footer{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 44px;
    background: rgba(0,0,0,.3);
    z-index: 3;
    padding: 14px 0;
    font-size: 12px;
    font-family: Tahoma,Arial;
    width: 100%;
    clear: both;
    min-width: 1000px;
}
.y3footer a{
    color:white;
}
.y3copyright{
    height: 22px;
    line-height: 22px;
    text-align: center;
}