@font-face {
  font-family: "iconfont"; /* Project id 2935007 */
  src: url('iconfont.woff2?t=1636725980727') format('woff2'),
       url('iconfont.woff?t=1636725980727') format('woff'),
       url('iconfont.ttf?t=1636725980727') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e610";
}

